<% @impressions.each do |impression| %>
  <p>旅行日：<%= MySchedule.find(impression.my_schedule_id).date %></p>
  <p>観光地名：<%= Spot.find(impression.spot_id).name %></p>
  <p>感想：<%= impression.text %></p>
  <p>投稿時間：<%= impression.created_at %>
  <hr>
<% end %>
