<div class="row">
  <div class="col-12 col-md-6 col-lg-4 row-eq-height">
    <div class="text-center mt-2">
      <%= render 'model_courses/show_modelcourse_and_route', courses_in_area: @example_model_courses %>
    </div>
  </div>
</div>
