<p>
  日程：<%= schedule.date %> 
  <button class="btn btn-info m-2 flag-btn" disabled >
    <%= MyTravelCourse.gone_text(schedule.gone) %>
  </button>
</p>
<% @my_travel_courses.schedule_id(schedule).each do |spot| %>
  <p><%= spot.order %>.  <%= @spots.id_name(spot) %></p>
<% end %>