<div class="col-12 col-md-5 col-lg-5">
  <% if impression.image? %>
    <p><%= image_tag impression.image.url %></p>
  <% else %>
    <p><%= image_tag "/assets/no_image_square.jpg", :size => '250x250' %></p>
  <% end %>
</div>
