<div class="text-center">
  <% if course_spot.next_distance != 0 && course_spot.next_time != 0%>
    <%= "　⇓　　 距離　　　:" %> <%= course_spot.next_distance %> km <br>
    ⇓ 車での移動時間: <%= course_spot.next_time %> 分
  <% end %>
</div>