<button class="btn btn-info btn-lg m-3" disabled>
  <div>
    <b><%= course_spot.order %>. <%= course_spot.spot.name %></b>
  </div>
  <div><h6>
    行きたい人： <%= course_spot.spot.wanted_users.length %>人
  </h6></div>
  </button>
