<% if current_user %>
  <h5><%= link_to "地域選択画面へ戻る", model_courses_path %></h5>
<% else %>
  <h5><%= link_to "ホームへ戻る", root_path %></h5>
<% end %>
<div class="text-center">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
      <%= render 'show_modelcourse_and_route', courses_in_area: @courses_in_area %>
    </div>
  </div>
</div>

<div class="mt-3">
  <%= paginate @courses_in_area %>
</div>
