@import "bootstrap/scss/bootstrap";

body {
  padding-top: 8rem;
}

.header-container {
  height: 100rem;
}

.container-fluid {
  padding-right: 15%;
  padding-left: 15%;
}

.header-icon {
  height: 5rem;
}

.btn-width {
  width: 20rem;
}

.spot-btn {
  width: 80%;
}

.area-btn {
  width: 50%;
}

// impression
.impression-text {
  padding: 2rem;
}

.input-impression {
  width: 70%;
  height: 70%;
  height: calc(1.3em * 7);
  line-height: 1.3em;
}

textarea:read-only {
  // border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: calc(1.3em * 7);
  line-height: 1.3em;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

// image
img {
  margin: 5% auto;
  max-width: 80%;
  height: 200px;
}

.want-spot-img {
  width: 70%;
  height: 100px;
}

.want-button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-bgimage {
  //overflow: hidden;
  //position: relative;
  padding-top: 0rem;
  background-color: #a7f1ff;
}

.text-size {
  font-size: calc(120% + 0.5vw);
  @media only screen and (max-width: 680px) {
    font-size: calc(100% + 0.3vw);
  }
  @media only screen and (max-width: 300px) {
    font-size: calc(80% + 0.2vw);
  }
}

.model-index-text {
  font-size: 1.5em;
  @media only screen and (max-width: 680px) {
    font-size: 1em;
  }
}

.logo-size {
  width: 25%;
  height: 25%;
}

.pagination {
  justify-content: center;
}
