<%= form_with model: @schedule, url: my_schedule_path(@schedule), method: :patch, local: true do |f| %>
  <%= render 'shared/calendar_date', f: f %>
  <div class="container">
    <div class="form-group col-md-6">
      <%= f.submit "変更" %>
    </div>
  </div>
<% end %>